<main>
    <section class="login" id="login">
        <blockquote>
            <h2 class="Titulo">Proyecto Universitario</h2> <br>

            <p>
                Los proyectos de grados son una parte fundamental
                de la educación superior, ya que permiten a los estudiantes
                demostrar su capacidad para aplicar los conocimientos adquiridos durante
                su carrera en un proyecto practico e independiente.
                Estos proyectos suelen ser la culminación de muchos años de estudio
                y pueden tener un gran impacto en el futuro profecional de los estudiates.
            </p>
        </blockquote>
        <form>
            <input type="text" name="correo" id="correo" placeholder="Correo">
            <input type="password" name="contraseña1" id="contraseña1" placeholder="contraseña">
            <a class="btn btn-secondary" routerLinkActive="active" [routerLink]="['/anteproyecto']">Iniciar sesión</a>
        </form>
    </section>



</main>