<footer>
    <section class="pie" id="pie">
        <h2>¿QUÉ HACEMOS?</h2>
       <ul>
            <li>Webs corporativa</li>
            <li>Aplicaciones web</li>
            <li>Marketing online</li>
            <li>Consultoria de desarrollo web </li>
            
       </ul>
        
    </section>

    <section class="pie" id="pie">
        <h2>Contactanos</h2>
        <ul>
            <li>Proyectos Academico </li>
           
            <li>UniversidadPacifico@gmail.com</li>
            <li>Telefono: 0012233434</li>
            <li>whatsapp:3123456789</li><br>
            <li>Siguenos en nuestrar redes:</li><br>
            <li><img src="../../../assets/imgfooter/facebook.png"  width="40" height="40" alt="Facebook">
                <img src="../../../assets/imgfooter/instagram.png" width="40" height="40" alt="Instagram">
            </li>
        </ul>
    </section>
</footer>
